<div fxLayoutAlign ="center center" fxFlexFill class="login-container">
    <mat-card fxFlex = "25"> 
        <mat-toolbar >Login page</mat-toolbar>
        <form [formGroup]="loginForm" (ngSubmit)="login()" fxLayoutAlign ="stretch" fxLayout ="column" class="login-form"> 
            <mat-form-field >
              <input formControlName="userName" matInput placeholder="UserName" >
              
              <mat-error *ngIf="loginForm.controls['userName'].hasError('required')">
              User name is <strong>required</strong>
              </mat-error>
          
            </mat-form-field>
          
            <mat-form-field >
              <input formControlName="password" matInput type = "password" placeholder="password" >
              <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <button mat-raised-button type = "submit" [disabled]="!loginForm.valid" > Sign in</button>
        </form>
        <a routerLink="/signUp" class ="Link-SignIn">New user? Click to signup.</a>  
    </mat-card>
</div>
