.example-spacer {
    flex: 1 1 auto;
  }
  .container{
    max-width: 1200px;
    margin: 0 auto;
  }
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  th{
    font-weight: bold;
    background-color:#e1f2e2;
  }
  td, th {
    width: 14%;
  }
  .mat-toolbar{
    background-color:#e1f2e2;
    color: #0d210e;
  }
  button{
    background-color:#377057;
    color:#e1f2e2;
  }
  ::ng-deep.mat-form-field.mat-focused .mat-form-field-ripple{
    background-color: #377057;
  }
  .mat-form-field.mat-focused {
    color: #377057 !important;
 }
 ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #377057!important;
}